/* Call to Action */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
  }
  
  #cta h3{
    color: white;
    font-size: 3rem;
    padding: 2% 4%;
    font-family: 'Montserrat';
  }
  
  #cta button{
    margin:1rem;
  }