/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

/* header */
@import './styles/__header.css';

/* price */
@import './styles/__price.css';

/* testimonials */
@import './styles/__testimonials.css';

/* cta */
@import './styles/__cta.css';

/* footer */
@import './styles/__footer.css';




/* Structure */
html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat';
}

h3{
  font-weight: bold;
}

body p{
  color: #8f8f8f;
}




@media (max-width: 1028px){
  #title{
      text-align: center;
  }

  #title img{
      position: static;
      transform: rotate(0);
  }

  #nav-mr-auto{
    margin-left: 0%;
  }
}

@media (min-width: 992px) and (max-width: 1029px) {
  #title h1{
      text-align: initial;
  }

  #title img{
      position: static;
      transform: rotate(0) translateX(20%);
  }

  #nav-mr-auto{
    margin-left: 62%;
  }
  #title button{
      margin: 0;
  }

  
}

  @media (max-width: 700px)  {
    #title h1{
        text-align: center;
        font-size: 2.5rem;
    }
  
    #title img{
        position: static;
        transform: rotate(0) translateX(5%);
    }
  
    #title button{
        margin:0.7rem;
    }

    #pricing h2{
      font-weight: 300;
      font-size: 2.5rem;
    }

    #pricing h1{
      font-weight: 300;
      font-size: 1.5rem;
    }

    #pricing h4{
      font-size: 0.8rem;
    }

    .card-body li{

      font-size: 0.7rem;
    }

    #pricing button{

      font-size: 1rem;
    }

    #cta h3{
      font-size: 1.3rem;
    }

    #testimonials h3{
      font-size: 1.2rem;
      padding-bottom: 22%;
    }

    #link{
      padding: 7% 0%
    }
}